.container {
	max-width: 1080px;
	margin: 0 auto;
}

//Filter
.formItem {
	padding-left: 16px !important;
	padding-right: 16px !important;
}

.fileterContentOpen {
	width: 100%;
	margin-top: 10px !important;
}
